/* Wrapper for table with horizontal scroll */
.table-wrapper-eie-head-2 {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 350px;
    white-space: nowrap;
    height: 640px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  }
  
  /* Table Styles */
  .data-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Poppins, sans-serif;
    text-align: left;
  }
  
  .data-table thead tr {
    background-color: #F4F7FC;
    color: #333;
    font-size: 18px;
  }
  
  .data-table th{
    padding: 45px 25px;
    border: 1px solid #ddd;
  }
  .data-table td {
    padding: 15px 25px;
    border: 1px solid #ddd;
  }
  
  .data-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Button Styles */
  .action-button {
    height: 40px;
    background-color: #DC2626;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
  }

  /* Sticky Header Styling */
  .sticky-header {
    background-color: #F4F7FC; /* Background color for the entire header */
    position: sticky; /* Ensure it stays at the top */
    top: 0; /* Sticky position relative to the top of the container */
    z-index: 10; /* Keep the header above other elements */
  }

  /* Header Cell Styling */
  .sticky-header th {
    background-color: #F4F7FC; /* Ensure cells inherit header background */
    color: #333; /* Header text color */
    font-size: 18px; /* Font size for header text */
    padding: 40px 25px; /* Cell padding */
    border: 1px solid #ddd; /* Cell border */
    text-align: center; /* Align text in the center */
  }

  /* Sticky Column Styling */
  .sticky-column {
    position: sticky; /* Sticky for columns */
    left: 0; /* Stick to the left */
    background-color: #fff; /* Column background color */
    z-index: 5; /* Keep column under the header */
    border-right: 2px solid #ddd; /* Add a border for distinction */
  }
