# --- Environment & Sensitive Data ---
.env
.env.backup
.env.production
.php_cs.cache
auth.json

# --- Laravel Framework ---
/vendor/
/node_modules/
/public/storage
/public/hot
/storage/app/uploads
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php

# --- Docker & Sail ---
.phpunit.result.cache
docker-compose.override.yml

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*Zone.Identifier*

# --- Frontend (Vite/React) ---
dist/
stats.html