/* Dashboard Title */
.dashboard-title {
    font-family: 'Epilogue';
    font-weight: 800;
    margin-left: 340px;
    color: #383838;
}

/* Student Dashboard Card Container */
.student-dashboard-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 20px;
    margin-left: 340px;
    margin-top: 20px;
    max-width: 1500px;
}

@media (max-width: 768px) {
    .student-dashboard-cards-container {
        grid-template-columns: 1fr; /* One card per row on smaller screens */
        margin-left: 20px; /* Adjust left margin for small screens */
    }
}
