.esl-prime-dashboard-dropdown-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    white-space: nowrap;
    padding: 8px;
}

.esl-prime-dashboard-dropdown-wrapper {
    position: relative;
}

.esl-prime-dashboard-dropdown-btn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 50px;
}

.esl-prime-dashboard-dropdown-btn .esl-prime-dashboard-dropdown-arrow {
    margin-left: auto;
}

.esl-prime-dashboard-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure it appears above other elements */
    border-radius: 12px;
    width: 100%;
    visibility: visible; /* Ensure visibility */
    opacity: 1; /* Ensure it’s fully visible */
    max-height: 200px;         /* 👈 Set the height */
    overflow-y: auto;          /* 👈 Enable scrolling */
}

.esl-prime-dashboard-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.esl-prime-dashboard-dropdown-item:hover {
    background-color: #f0f0f0;
}

.esl-prime-dashboard-dropdown-item.esl-dashboard-selected {
    font-weight: bold;
    background-color: #e0e0e0;
}

.esl-prime-dashboard-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esl-prime-dashboard-refresh-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #DC2626;
    color: white;
    border: none;
    border-radius: 5px;
}

.esl-prime-dashboard-refresh-btn:hover {
    background-color: #FF474A;
}

.esl-prime-reset-link-container {
    text-align: right;
}

.esl-prime-reset-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.esl-prime-reset-link:hover {
    color: #0056b3;
}
