/* Container that holds the search input + buttons */
.esl-toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Upload buttons area */
.esl-upload-buttons-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between upload, archive, and question mark */
}

/* Upload button */
.esl-implementing-subjects-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  background-color: #FF474A;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
}

.esl-implementing-subjects-upload-button:hover {
  background-color: #6B6D76;
}

.upload-icon {
  width: 38px;
  height: 34px;
  margin-right: 4px;
}

.upload-label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 10px;
}

/* Archive button */
.esl-archived-subjects-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 45px;
  background-color: #FF474A;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 40px;
}

.esl-archived-subjects-button:hover {
  background-color: #6B6D76;
}

.esl-archived-subjects-button img {
  width: 40px;
  height: 38px;
  padding: 5px;
  filter: invert(1) brightness(100%);
}

.archive-label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.class-list-upload-button {
  background-color: #6B6D76;
}

/* Question mark */
.questionMark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.esl-implementing-subjects-upload-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 4px; /* fine-tune spacing next to the button */
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text container */
.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;  /* Position above the image */
  left: 50%;
  margin-left: -110px; /* Centers the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show tooltip text on hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* List styling */
.tooltip-list {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove bullet points from the entire list */
}

/* Title styling (no bullet, bold, larger text) */
.tooltip-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* List item styling */
.tooltip-sub-title {
  font-size: 12px;
  margin-bottom: 5px;
  list-style-type: none; /* Ensure no bullet points for all list items */
  margin-left: 25px;
}

