.table-container-esl {
  overflow: auto;
  max-width: 100%;
  height: 590px;
  margin-left: 350px;
  margin-top: 20px;
  margin-right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.non-sticky-table {
  border-collapse: collapse;
  width: 100%;
}

.non-sticky-table th,
.non-sticky-table td {
  border: 1px solid #ddd;
  padding: 10px 10px;
  text-align: center;
}

.non-sticky-table th {
  background-color: #F4F7FC;
  color: #383838;
  font-family: 'Poppins';
  text-align: center;
  padding: 40px 25px;
  font-size: 20px;
}

.action-buttons {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically */
  gap: 10px; /* Spacing between buttons */
}

.reset-pass-button,
.edit-button {
  display: inline-flex; /* Make sure buttons are inline flex for proper alignment */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #6B6D76;
  padding: 10px 20px;
  border-radius: 8px;
}

.reset-pass-button {
  color: #383838;
  background-color: transparent;
  margin-left: 10px; /* Adjust margin if necessary */
  white-space: nowrap;
}

.edit-button {
  color: #FFFFFF;
  background-color: #6B6D76;
  border: none;
  margin-right: 10px; /* Adjust margin if necessary */
}

