.eie-head-diagnostics-dropdown-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 340px;
    margin-right: auto;
    white-space: nowrap;
    padding: 8px;
    flex-wrap: wrap; /* Allows wrapping in case of smaller screen sizes */
}

.eie-head-diagnostics-dropdown-wrapper {
    position: relative;
}

.eie-head-diagnostics-dropdown-btn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 50px;
}

.eie-head-diagnostics-dropdown-btn .eie-head-diagnostics-dropdown-arrow {
    margin-left: auto;
}

.eie-head-diagnostics-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 12px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    max-height: 200px; /* 👈 Set the height */
    overflow-y: auto;  /* 👈 Enable scrolling */
}

.eie-head-diagnostics-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eie-head-diagnostics-dropdown-item:hover {
    background-color: #f0f0f0;
}

.eie-head-diagnostics-dropdown-item.eie-head-diagnostics-dropdown-selected {
    font-weight: bold;
    background-color: #e0e0e0;
}

/* Search Input Styles */
.eie-head-diagnostics-search-input-container {
    display: flex;
    align-items: center;
}

.eie-head-diagnostics-search-input {
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: 350px;
    height: 50px;
    outline: none;
}

.eie-head-eie-head-dashboard-dropdown-btn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 50px;
}

